<div #commentRef class="comment">
  <mat-card-header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <app-user-avatar height="20" [photoUrl]="comment?.user?.profile_photo">
    </app-user-avatar>
    <a routerLink="/accounts/{{comment.user?.username}}">{{ comment.user?.username }}</a>
  </mat-card-header>
  <mat-card-content fxLayout="row">
    <p>{{ comment?.text }}</p>
  </mat-card-content>
</div>
<div class="comment-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
  <span class="gray-text">{{ comment?.created_at }}</span>
  <a class="text-button" *ngIf="!comment.parent_comment_id" (click)="setCommentAsActive()">Reply</a>
  <a class="text-button" *ngIf="comment?.userOwnsComment" (click)="removeThisComment()">Delete</a>
  <app-vote (voted)="voteOnThisComment($event)" [(votes)]="comment.vote_count"></app-vote>
</div>
<div class="reply-container" fxLayout="column">
  <app-comment
    *ngFor="let reply of commentRepliesPagingDelegate?.dataList"
    [user]="user"
    [comment]="reply"
    (removeComment)="removeReplyToComment($event)"
    (votedOnComment)="voteOnReplyingComment(reply, $event)"
  ></app-comment>
  <div
    class="load-more"
    fxFlex
    fxLayout="column"
    *ngIf="commentRepliesPagingDelegate?.thereIsMoreDataToLoad()"
  >
    <button class="load-more" fxFlex mat-button (click)="commentRepliesPagingDelegate?.loadResults()">
      Load more...
    </button>
  </div>
  <app-comment-input
    *ngIf="activeComment?.activeCommentId === comment.id"
    (submitMessage)="addReplyToComment({ text: $event })"
    [parentComment]="comment"
  ></app-comment-input>
</div>
