/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import './../../../variables.less';

.info-block {
  float: left;
}

.vote {
  float: right;
}

.load-more {
  padding: 8px;
}

.comment-button {
  font-size: 12px;
}

.header-item {
  margin-left: 10px;
}

mat-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.reply-container {
  padding-left: 10%;
}
