<img
  *ngIf="!showLetterImage; else letterImg"
  class="user-avatar"
  [src]="photoUrl"
  [style.height.px]="height"
  [style.width.px]="height"
  (error)="imageErrored()"
  (click)="avatarClickHandler()"
/>
<ng-template #letterImg>
  <div
    class="user-avatar letter-img"
    fxLayout="row"
    fxLayoutAlign="center center"
    [style.height.px]="height"
    [style.width.px]="height"
    [style.font-size.px]="(height/2)"
    (click)="avatarClickHandler()"
  >
    <span *ngFor="let letter of letters">{{ letter | uppercase }}</span>
  </div>
</ng-template>
