/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../variables.less';

.user-avatar {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.letter-img {
  background-color: @secondary-light-gray;
  color: @primary;
}
