/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import './../../variables.less';

.footer-container {
  width: 100%;
  padding: 0px 8px;
  background-color: @primary;
  color: @primary-white;
}

a {
  text-decoration: none;
  color: @primary-white;
}

a:hover {
  color: darken(@primary, 20);
}
