<footer fxFlex fxLayout="row" fxLayoutAlign="start center" class="footer-container">
  <div fxFlex="36">
      &copy; {{currentYear}} - <a href="http://localhost:4200/">The New Project</a>
  </div>
</footer>
