<div
  id="login-page-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex="100"
  >
  <!-- Login Panel Container -->
  <div
    id="login-container"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <h1 id="heading">Welcome to the new project. 🥳<span id="blinking-cursor">|</span></h1>
    <hr/>
    <form
      (ngSubmit)="onSubmit(form)"
      #form="ngForm"
      [formGroup]="loginForm"
      fxLayout="column"
      fxFlex="100"
      >
      <mat-form-field class="login-field username" appearance="outline">
        <mat-label for="username">Username</mat-label>
        <input #handle formControlName="username" matInput type="text" name="username" id="username" placeholder="Email or username" aria-describedby="helpId">
        <mat-hint>Username, email or phone number</mat-hint>
        <mat-icon class="clear-icon" *ngIf="handle.value" matSuffix (click)="handle.value=''">clear</mat-icon>
      </mat-form-field>
      <mat-form-field class="login-field" appearance="outline">
        <mat-label for="password">Password</mat-label>
        <input #password formControlName="password" matInput type="password" name="password" id="password" placeholder="" aria-describedby="helpId">
        <mat-icon class="clear-icon" *ngIf="password.value" matSuffix (click)="password.value=''">clear</mat-icon>
      </mat-form-field>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between start">
        <div fxLayout="column" fxLayoutAlign="start start">
          <a class="no-decoration auth-button" mat-button (click)="openForgotPassword(handle.value)">Forgot password</a>
          <a class="no-decoration auth-button" mat-button routerLink="/auth/signup/">Sign me up instead</a>
        </div>
        <button
          id="submit-button"
          class="main-action-button auth-button"
          mat-button
          type="submit"
          [disabled]="!loginForm.valid"
        >Login</button>
      </div>
    </form>
  </div>
</div>
