<div id="container full-dimensions" fxLayout="column" fxFlex="100" fxLayoutAlign="space-around center">
  <div>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <mat-icon class="err-icon">info_outline</mat-icon>
      <h1>404 Error</h1>
    </div>
    <p>Hey there, we could not find the page you were looking for, we're sorry.</p>
    <a mat-stroked-button routerLink="/home">Take me home country roads</a>
  </div>
</div>
