<mat-accordion>
  <mat-expansion-panel #panel class="mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>
      <div [hidden]="panel?.expanded">
        <h5 class="app-h5">{{ getDate() }} - {{ dailyFeature?.site?.title }}</h5>
      </div>
    </mat-expansion-panel-header>
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
      <h1 class="text-centered">Todays Feature: {{ dailyFeature?.site?.title }}</h1>
      <p class="lead text-muted black">{{ dailyFeature?.title }}</p>
      <button mat-button class="main-action-button" (click)="buttonClick()">{{ dailyFeature?.button_text }}</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>


