<div id="subscriptions-grid">
  <mat-grid-list cols="4" rowHeight="1.8:1">
    <mat-grid-tile fxFlex="100" *ngFor="let subscription of subscriptions">
      <div fxLayout="column" fxLayoutAlign="center center">
        <app-user-avatar
        [user]="getSubscriptionUser(subscription)"
        [photoUrl]="getSubscriptionUser(subscription)?.profile_photo"
      >
      </app-user-avatar>
      <div>
        <p>
          {{ getSubscriptionUser(subscription)?.username }}
        </p>
      </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
