<div id="signup-page-container" fxLayout="column" fxLayoutAlign="center center">
  <!-- Register panel container -->
  <div id="signup-container">
    <h1 id="heading">Sign up to the NewProject. 😇</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div fxLayout="column" id="three-three-container">
      <div fxLayout="row">
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="first-name">First name</mat-label>
          <input #firstname id="first-name" formControlName="firstname" matInput type="text" name="firstname" placeholder="" aria-describedby="helpId">
          <small *ngIf="firstname.invalid && firstname.touched" id="helpId" class="text-muted">Please enter your first name.</small>
        </mat-form-field>
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="last-name">Last name</mat-label>
          <input #lastname matInput formControlName="lastname" type="text" name="lastname" id="last-name" placeholder="" aria-describedby="helpId">
          <small *ngIf="lastname.invalid && lastname.touched" id="helpId" class="text-muted">Please enter your last name.</small>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="userName">Username</mat-label>
          <input #username matInput formControlName="username" type="text" name="username" id="username" placeholder="" aria-describedby="helpId">
          <small *ngIf="username.invalid && username.touched" id="helpId" class="text-muted">Please enter a username.</small>
        </mat-form-field>
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input #email matInput formControlName="email" type="email" name="email" id="email" placeholder="" aria-describedby="helpId">
          <small *ngIf="email.invalid && email.touched" id="helpId" class="text-muted">Please enter an email.</small>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input #password matInput formControlName="password" type="password" name="password" id="password" placeholder="" aria-describedby="helpId">
          <small *ngIf="password.invalid && password.touched" id="helpId" class="text-muted">Please enter your password.</small>
        </mat-form-field>
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="passwordTwo">Confirm Password</mat-label>
          <input #passwordConfirm matInput formControlName="passwordConfirm" type="password" name="passwordTwo" id="passwordTwo" placeholder="" aria-describedby="helpId">
          <small *ngIf="passwordConfirm.invalid && passwordConfirm.touched" id="helpId" class="text-muted">Please confirm password.</small>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field class="input-field" fxFlex="50" appearance="outline">
          <mat-label for="dateOfBirth">Date of Birth</mat-label>
          <input #dob matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirthPicker" name="dateOfBirth" id="dateOfBirth" placeholder="" aria-describedby="helpId">
          <small *ngIf="dob.invalid && dob.touched" id="helpId" class="text-muted">Please enter your date of birth.</small>
          <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirthPicker></mat-datepicker>
        </mat-form-field>
        <!-- Padding div to make the dob field behave. -->
        <div class="input-field" fxFlex="50"></div>
      </div>
      </div>
      <div id="tag-container">
      <mat-form-field id="tags-field" class="input-field" fxlayout="row" appearance="outline">
        <mat-label>Add tags</mat-label>
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of tags" [selectable]="false"
                  [removable]="true" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input matInput placeholder="Add tag..."
                [matChipInputFor]="tagList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-hint>
          For us to recommend you content. Tell us what you're interested in! Our site works on tag based content so fire away. 😁
        </mat-hint>
      </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a class="no-decoration" mat-button routerLink="/auth/login/">Log in instead</a>
        <button
          class="main-action-button"
          mat-button
          fxLayout="row"
          type="submit"
          [disabled]="!form.valid"
        >Sign me up!</button>
      </div>
    </form>
  </div>
</div>
