<div class="site-grid" fxLayout="column">
  <mat-grid-list gutterSize="8px" [cols]="columnsNum" [rowHeight]="360">
    <mat-grid-tile
      class="site-grid-tile-container"
      *ngFor="let site of sitesPagingDelegate?.dataList"
    >
      <div
        class="site-grid-tile selectable"
        fxLayout="column"
        (click)="goto(site)"
      >
        <div class="banner-box" fxFlex="60">
          <img
            *ngIf="site.banner_photo"
            class="banner-box-image"
            [src]="site.banner_photo"
          />
        </div>
        <div class="site-grid-header" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
          <app-user-avatar
            [height]="20"
            [photoUrl]="site?.user?.profile_photo"
            [user]="site?.user"
          ></app-user-avatar>
          <div fxLayout="column" fxLayoutAlign="start start">
            <span>{{ site.title }}</span>
            <a routerLink="/accounts/{{ site?.user?.username }}" class="gray-text">{{ site?.user?.username }}</a>
            <div class="gray-text" fxLayout="row" fxLayoutGap="4px" fxLayoutAlign="start center">
              <span>{{ (site.upvotes.count - site.downvotes.count) | displayNumber }} Votes</span>
              <span>-</span>
              <span>{{ GetTimeSinceDate(site.created_at) }}</span>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div
    appDetectInView
    *ngIf="sitesPagingDelegate?.thereIsMoreDataToLoad()"
    (isInView)="loadNewResults()"
    [seen]="false"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>
  </div>
</div>
