/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../variables.less';

.site-grid {
  width: 100%;
  height: 100%;
  padding: 8px;
}

.site-grid-tile {
  border-radius: 4px;
  background-color: #F8F8F8;
  width: 100%;
  height: 100%;
}

.banner-box {
  background-color: @secondary-light-gray;
}

.site-grid-header {
  padding: 8px;
}

.banner-box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.site-header {
  margin-left: 10px;
}

.site-grid-tile:hover {
  background-color: lighten(@primary, 60);
}

.site-banner {
  width: 100%;
  height: 100%;
}

.footer-item {
  padding-left: 8px;
  padding-right: 8px;
}

mat-grid-tile {
  background: white;
}

/* ??? */
mat-grid-tile-footer {
  background: white !important;
  color: black !important;
}

/* ??? */
mat-grid-tile-header {
  background: white !important;
  color: black !important;
}
