<button
  mat-icon-button
  [disabled]="disabled"
  (click)="onIconClick()"
  style.color = 'blue'
  [style.color]="getIconColour()"
  matTooltip="{{ getTooltip() }}">
    <mat-icon *ngIf="iconOn; else iconOff">{{ onIcon }}</mat-icon>
    <ng-template #iconOff>
      <mat-icon>{{ offIcon }}</mat-icon>
    </ng-template>
  </button>
