/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

#navbar-main {
  height: 40px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 100;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 0 1px 8px rgba(0,0,0,.2);
}

.avatar-menu {
  cursor: pointer;
}

#search-container {
  margin-right: 8px;
}

#navbar-right-side {
  justify-content: space-between;
}

#logout {
  margin-left: 1%;
}

a {
  text-decoration: none;
}

#site-logo {
  margin-left: 8px;
  height: 40px;
  width: auto;
  border-width: 2px;
  border-color: white;
}

/* Clear search field border. */
#search-field {
  border: none;
}

.navbar-item {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 14px;
}

#logo {
  margin-left: 12px;
}

.navbar-first {
  margin-left: 20px;
}

/* Special selector to modify placeholder attributes. */
::placeholder {
  color: white;
}

/* To avoid the blue outline for inputs problem. */
input:focus, input:active:focus, input.active:focus {
  outline: none !important;
  outline-style: none !important;
}
