<nav
  id="navbar-main"
  fxFlex="100"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="colour-main fixed"
>
  <!-- Home icon. -->
  <!--<img id="site-logo" src="./assets/icons/NP-logo.png" (click)="navigateHome()" /> -->
  <a id="logo" class="navbar-item text-button-white" routerLink="/home/">NP</a>
  <div class="navbar-item navbar-first" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
    <a class="text-button-white" routerLink="/sites/create-site/">Create</a>
    <a *ngIf="isAdmin" class="text-button-white" routerLink="/admin">Admin</a>
  </div>
  <div id="navbar-right-side" fxLayout="row" fxFlex fxLayoutAlign="flex-end center">
    <form id="search-container" fxLayout="row" (ngSubmit)="onSearch()">
      <input id="search-field" class="colour-white-transparent" name="search" [(ngModel)]="searchKey" type="text" matInput placeholder="Search">
      <button mat-icon-button (click)="onSearch()" matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <!-- User avatar. -->
    <app-user-avatar
      class="avatar-menu"
      [user]="user"
      [photoUrl]="user?.profile_photo"
      [matMenuTriggerFor]="beforeMenu"
    >
    </app-user-avatar>
  </div>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="navigateToAccount()">
      <mat-icon>account_circle</mat-icon>  Account
    </button>
    <button mat-menu-item (click)="navigateToNotifications()">
      <mat-icon>notifications_none</mat-icon>  Notifications
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>  Logout
    </button>
  </mat-menu>
</nav>
