<div #commentInput class="input-container" fxFlex="100" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="16px">
  <mat-form-field fxFlex appearance="outline">
    <textarea
      matInput
      type="text"
      name="comment"
      [(ngModel)]="message"
      placeholder="{{ placeholder ? placeholder : '' }}"
    ></textarea>
  </mat-form-field>
  <a
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="8px"
    *ngIf="(message?.length > 3)"
    class="text-button"
    (click)="onSendMessage()"
  >
    <span>Send</span>
  </a>
</div>
