<mat-form-field fxFlex>
  <label *ngIf="label">{{ label }}</label>
  <input 
    matInput
    [placeholder]="placeholder"
    [matAutocomplete]="auto"
    [formControl]="autocompleteControl"
    [disabled]="disabled"
  >
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="autocompleteDelegate.display" (optionSelected)="autocompleteDelegate.selectItem($event.option.value)">
    <mat-option *ngFor="let item of autocompleteDelegate.filteredList" [value]="item">
      <span>{{ autocompleteDelegate.display(item) }}</span>
    </mat-option>
  </mat-autocomplete>
  <mat-hint class="hint" *ngIf="hint">
    {{ hint }}
  </mat-hint>
</mat-form-field>
