<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
  <mat-icon class="text-button" (click)="onVote(true)">keyboard_arrow_up</mat-icon>
  <mat-icon class="text-button" (click)="onVote(false)">keyboard_arrow_down</mat-icon>
  <span class="gray-text">{{ votes ? votes : 0 }}</span>
</div>
