<div fxFlex class="full-dimensions container" fxLayout="column" fxLayoutGap="16px">
  <div>
    <h1>NewProject Admin: {{ user?.first_name }}</h1>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button mat-button (click)="gotoHome()" class="main-action-button">
        Home
      </button>
      <button mat-button (click)="gotoReportManager()" class="main-action-button">
        Manage reports
      </button>
      <button mat-button (click)="gotoDailyFeatures()" class="main-action-button">
        Daily features
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
