/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2020: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import './../../../variables.less';

:host {
  background-color: fade(@primary, 10);
  width: 100%;
  height: 100%;
}

.full-dimensions {
  width: 100%;
  height: 100%;
}
