// Lighten factor that hovered buttons will lighten by.
@hover-lighten-factor: 10;
// Green lighten must be more.
@green-hover-lighten-factor: 50;

// Main button config.
.main-action-button {
  margin: 8px;
  background-color: @action !important;
  color: @primary-white !important;
}

.main-action-button:hover {
  background-color: lighten(@action, 10) !important;
  color: @primary-white !important;
  cursor: pointer;
}

.main-action-button[disabled] {
  background: @secondary-gray !important;
  color: @primary-white !important;
}

// Error button config.
.error-button {
  margin: 8px;
  background-color: @error;
  color: @primary-white;
}

.error-button:hover {
  background-color: lighten(@error, @hover-lighten-factor);;
  color: @error;
  cursor: pointer;
}

.error-button[disabled] {
  background: @secondary-gray;
  color: @primary-white;
}

// Success button config.
.success-button {
  margin: 8px;
  background-color: @success;
  color: @primary-white;
}

.success-button:hover {
  background-color: lighten(@success, @green-hover-lighten-factor);;
  color: @success;
  cursor: pointer;
}

.success-button[disabled] {
  background: @secondary-gray;
  color: @primary-white;
}

// Cancel button config.
.cancel-button {
  margin: 8px;
  background-color: @primary-white;
  color: @secondary-gray;
}

.cancel-button:hover {
  background-color: @secondary-gray;
  color: @primary-white;
  cursor: pointer;
}

.cancel-button[disabled] {
  background: @secondary-gray;
  color: @primary-white;
}

// Warning button config.
.warning-button {
  margin: 8px;
  background-color: @warning;
  color: @primary-white;
}

.warning-button:hover {
  background-color: lighten(@warning, @hover-lighten-factor);;
  color: @warning;
  cursor: pointer;
}

.warning-button[disabled] {
  background: @secondary-gray;
  color: @primary-white;
}

.bigger-button {
  width: 275px;
  height: 54px;
  border-radius: 2px;
}

.bigger-button-text {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.9px;
}

.text-button {
  color: @primary !important;
  cursor: pointer !important;
}

.text-button:hover {
  color: lighten(@primary, 20) !important;
}

.text-button-white {
  color: @primary-white;
  cursor: pointer;
}

.text-button-white:hover {
  color: darken(@primary-white, 20);
}
