
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
    <button
      mat-stroked-button
      (click)="goBack()"
    >
      <- Back
    </button>
    <h1>Site Reports</h1>
  </div>
  <app-np-table
    [tableObject]="siteReportsTableObj"
  >
  </app-np-table>
</div>
