/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../variables.less';

:host ::ng-deep .ck-editor__editable {
  min-height: 600px !important;
}

#create-site-button {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.banner-selection {
  position: relative;
  text-align: center;
  background-color: @secondary-light-gray;
  color: @primary-white;
}

.public-private-radio {
  margin: 8px;
}

#create-site-footer {
  margin-bottom: 2%;
}

#site-actions {
  margin: 8px;
  margin-right: 0px;
}

mat-form-field {
  padding: 10px;
}

.delete-overlay {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: @primary-white;
  padding: 8px;
  border-radius: 4px;
}
