<div
  class="ctn"
  *ngIf="!isLoading; else loading"
  fxLayout="column"
>
  <form (ngSubmit)="onSubmit(form, editor)" fxLayout="column" fxFlex="100" #form="ngForm">
    <h3 class="header">{{ isEditing ? 'Make some changes' : 'Create new site' }}</h3>
    <div fxLayout="row">
      <mat-form-field fxFlex="40">
        <mat-label for="title">Title</mat-label>
        <input matInput type="text" name="title" id="title" [(ngModel)]="site.title">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field class="tag-chips" fxFlex="100">
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of site.tags" [selectable]="false"
                  [removable]="true" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add tags..."
                [matChipInputFor]="tagList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div
      class="banner-selection selectable"
      fxLayout="row"
      fxLayoutAlign="center center"
      (click)="bannerClickedHandler()"
    >
      <img
        *ngIf="(site.banner_photo || stagedBannerFileSourceUrl); else noBanner"
        class="banner-image selectable"
        [src]="(stagedBannerFileSourceUrl || site.banner_photo)"
        onerror="userHasNoBanner = true"
      />
      <div
        class="delete-overlay"
        *ngIf="(site.banner_photo || stagedBannerFileSourceUrl)"
      >
        <button mat-button (click)="clearBannerPhoto($event)">Clear selection</button>
      </div>
      <ng-template #noBanner>
        <div
          class="banner-image"
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <h2><mat-icon class="banner-flag">outlined_flag</mat-icon> Add a banner</h2>
        </div>
      </ng-template>
    </div>
    <mat-radio-group
      class="public-private-radio"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="16px"
      [value]="1"
    >
      <mat-radio-button value="1">Public</mat-radio-button>
      <mat-radio-button value="2">Private</mat-radio-button>
    </mat-radio-group>
    <!-- Our custom CKEditor implementation. -->
    <app-np-editor [(content)]="site.content"></app-np-editor>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
      <p>Done building your site? Make sure to click Create!</p>
      <div id="site-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
        <button
          *ngIf="isEditing"
          mat-button
          type="button"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
        <button
          type="submit"
          mat-button
          class="colour-main"
        >
          {{ isEditing ? 'Save' : 'Create' }}
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #loading>
  <div class="loading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
