<div fxLayout="column" fxFlex="100">
  <p>We'll send a reset email to this address:</p>
  <mat-form-field appearance="outline" class="form-field">
    <mat-label for="email">Email</mat-label>
    <input type="email" id="email" placeholder="Email" matInput [(ngModel)]="handle" (ngModelChange)="checkEmail()" />
  </mat-form-field>
</div>
