<div class="full-dimensions" fxLayout="column" fxLayoutAlign="space-between">
  <div fxLayout="column" fxLayoutAlign="start">
    <app-navbar #navbar></app-navbar>
    <!-- We need to dummy the height of the navbar that is at -->
    <!-- The upper z-index. -->
    <div [style.height.px]="40"></div>
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
