/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

#container {
  height: 80vh;
}

#site-logo {
  height: 40px;
  width: auto;
}

#title {
  margin-left: 16px;
}

.error-text {
  color: #333333;
}

#errors-div, #form-div {
  margin: 16px;
}
