<div id="container" fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
  <div id="form-div" fxLayout="column" fxFlex="40" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <img id="site-logo" src="../../../assets/icons/NP-logo.png">
      <h1 id="title">Reset Password</h1>
    </div>
    <br>
    <mat-form-field fxFlex="100" appearance="outline">
      <input type="password" id="password" placeholder="New password" matInput [(ngModel)]="passwordInput" (ngModelChange)="onPasswordInputChange()" />
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="outline">
      <input type="password" id="password-confirm" placeholder="Confirm password" matInput [(ngModel)]="passwordConfirmInput" (ngModelChange)="onPasswordInputChange()" />
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button
        mat-stroked-button
        [disabled]="!passwordValidity.valid"
        (click)="onResetPassword()"
        >Submit</button>
    </div>
  </div>
  <div id="errors-div" fxFlex="40" fxLayout="column" fxLayoutAlign="start start">
    <div *ngFor="let error of passwordValidity.reasons">
      <p class="error-text">{{ error }}</p>
    </div>
  </div>
</div>
