/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import './../../../variables.less';

:host {
  height: 100%;
}

.account-header-container {
  position: relative;
  text-align: center;
  background-color: @secondary-light-gray;
  color: @primary-white;
}

.banner-flag {
  font-size: 28px;
}

.name-overlay {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: @primary-white;
  padding: 8px;
  border-radius: 4px;
}

.forms-content {
  padding: 8px;
}

.my-user-avatar {
  cursor: pointer;
}

#header {
  padding-left: 10px;
}

#edit-account-button {
  float: right;
  margin-left: auto;
  max-height: 40px;
}

#account-header-image {
  margin-left: 2%;
}

.isBox {
  border-color: black;
  border-bottom-width: 4px;
}

mat-form-field {
  padding: 10px;
}

#tags-form {
  width: 100%;
  padding-right: 16px;
}

#personal-details-form {
  width: 100%;
  padding-right: 16px;
}

#tags-field {
  width: 100%;
}

.form-submit {
  float: right;
  margin-left: auto;
  margin: 10px;
}

#progress-bar {
  margin-bottom: 12px;
}

.menu-icon {
  margin-right: 16px;
}

.menu-column {
  background-color: lighten(@secondary-light-gray, 20);
  border-right: solid 1px @secondary-light-gray;
  padding-right: 8px;
}

.viewing-header {
  background-color: @secondary-light-gray;
  padding: 20px;
}

.account-icon {
  font-size: 34px;
  margin-bottom: 16px
}

.account-menu-item {
  color: @primary-black;
  cursor: pointer;
}

.account-menu-item:hover {
  background-color: @secondary-light-gray;
  color: @primary;
}

.menu-selected {
  background-color: @secondary-light-gray;
  color: @primary;
}

.loading {
  padding-top: 20vh;
}
