<div *ngIf="!updatingInformation; else isLoading" class="full-height">
  <div *ngIf="isActiveUser; else viewingUserTemplate" div fxFlex="100" fxLayout="column" class="full-height" fxLayoutGap="32px">
    <div class="account-header-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <img
        *ngIf="(user && !userHasNoBanner); else noBanner"
        class="banner-image selectable"
        (click)="bannerClickedHandler()"
        [src]="user?.banner_photo"
        onerror="userHasNoBanner = true"
      />
      <ng-template #noBanner>
        <div
          class="banner-image"
          fxLayout="row"
          fxLayoutAlign="center center"
          (click)="bannerClickedHandler()"
        >
          <h2><mat-icon class="banner-flag">outlined_flag</mat-icon> Add a banner</h2>
        </div>
      </ng-template>
      <div class="name-overlay" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
        <app-user-avatar
          class="my-user-avatar"
          [user]="viewingUser"
          [photoUrl]="user?.profile_photo"
          (avatarClicked)="avatarClickHandler()"
        >
        </app-user-avatar>
        <h3>{{ user?.first_name }} {{ user?.last_name}} ({{ user?.username }})</h3>
      </div>
    </div>
      <!-- Display if logged in user. -->
    <div class="full-height" fxLayout="row" fxLayoutGap="16px">
      <div class="menu-column" [style.height.%]="99" fxLayout="column">
        <mat-list class="full-dimensions">
          <mat-list-item
            class="account-menu-item"
            *ngFor="let menuItem of accountMenu.menuSelections"
            (click)="accountMenu.selectMenu(menuItem.position)"
            [ngClass]="{ 'menu-selected' : (accountMenu?.activeMenuSelection?.position === menuItem.position) }"
          >
            <mat-icon class="menu-icon" *ngIf="menuItem?.icon">{{ menuItem?.icon }}</mat-icon>
            <span>{{ menuItem?.name }}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxLayout="column" fxFlex class="full-height" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <mat-icon class="account-icon" *ngIf="accountMenu?.activeMenuSelection?.icon">{{ accountMenu?.activeMenuSelection?.icon  }}</mat-icon>
          <h4>{{ accountMenu?.activeMenuSelection?.name }}</h4>
        </div>
        <div [ngSwitch]="accountMenu?.activeMenuSelection?.position" class="full-height">
          <div *ngSwitchCase="0" fxLayout="column" class="full-height" fxLayoutGap="8px">
            <!-- User stats -->
            <app-user-stats-view
              [userStats]="viewingUser?.user_stats"
            >
            </app-user-stats-view>
            <div fxLayout="column">
              <span>Sites</span>
              <mat-divider></mat-divider>
            </div>
            <app-site-grid
             [sitesPagingDelegate]="usersSitesDelegate"
            >
            </app-site-grid>
          </div>
          <div *ngSwitchCase="1" fxLayout="column" class="settings-container full-height">
            <form id="personal-details-form" (ngSubmit)="onUpdatePersonalInfo(form)" #form="ngForm" class="full-height">
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input name="userName" id="user-name" matInput [(ngModel)]="user.username" placeholder="{{ user.username }}" ngModel #usernameControl="ngModel">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input name="first-name" id="first-name" matInput [(ngModel)]="user.first_name" placeholder="{{ user.first_name }}" ngModel #firstNameControl="ngModel">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input name="last-name" id="last-name" matInput [(ngModel)]="user.last_name" placeholder="{{ user.last_name }}" ngModel #lastNameControl="ngModel">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input name="email" id="user-email" matInput [(ngModel)]="user.email" placeholder="{{user.email}}" ngModel #emailControl="ngModel">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input name="dob" matInput [(ngModel)]="user.date_of_birth" [matDatepicker]="picker" placeholder="Date of birth" ngModel #dobControl="ngModel">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="end center">
                <button type="submit" mat-button class="main-action-button">Save</button>
              </div>
            </form>
          </div>
          <div *ngSwitchCase="2">
            <div fxLayout="row" class="settings-container">
              <form id="tags-form" (ngSubmit)="onUpdateTags(form)" #form="ngForm">
                <mat-form-field id="tags-field" appearance="outline">
                  <mat-label>Tags</mat-label>
                    <mat-chip-list #tagList>
                      <mat-chip *ngFor="let tag of user.tags" [selectable]="false"
                              [removable]="true" (removed)="remove(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input name="tags" matInput placeholder="Tags"
                            [matChipInputFor]="tagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="add($event)"
                            ngModel >
                    </mat-chip-list>
                  </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="end center">
                    <button type="submit" mat-button class="main-action-button">Save</button>
                  </div>
                </form>
            </div>
          </div>
          <div *ngSwitchCase="3" fxLayout="column">
            <div fxLayout="column">
              <h5 fxFlex="90" class="header">Subscribers: {{ user.subscribers.count }}</h5>
              <div *ngIf="user.subscribers.count; else noSubscribers">
                <app-subscriptions-grid [subscriptions]="user.subscribers.rows"></app-subscriptions-grid>
              </div>
              <ng-template #noSubscribers>
                <p>You have no subscribers</p>
              </ng-template>
            </div>
            <div fxLayout="column">
              <h5 fxFlex="90" class="header">Subscriptions: {{ user.subscriptions.count }} </h5>
              <div *ngIf="user.subscriptions.count; else noSubscriptions">
                <app-subscriptions-grid [subscriptions]="user.subscriptions.rows"></app-subscriptions-grid>
              </div>
              <ng-template #noSubscriptions>
                <p>Subscribe to some content creators to stay tuned with awesome content.</p>
              </ng-template>
            </div>
          </div>
          <div *ngSwitchCase="4">
            <h5 class="header">Need to change your password?</h5>
            <div fxLayout="row" fxLayoutAlign="start center">
              <span>To change your password click&nbsp;</span>
              <a (click)="openForgotPassword(user.email)">here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #viewingUserTemplate>
    <div fxLayout="column" fxLayoutGap="8px">
      <div class="account-header-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <img
          *ngIf="(viewingUser && !viewingUserHasNoBanner); else noViewingUserBanner"
          class="banner-image"
          [src]="viewingUser.banner_photo"
          onerror="viewingUserHasNoBanner = true"
        />
        <ng-template #noViewingUserBanner>
          <div
            class="banner-image"
            fxLayout="row"
            fxLayoutAlign="center center"
          ></div>
        </ng-template>
        <div class="name-overlay" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
          <app-user-avatar
            class="my-user-avatar"
            [user]="viewingUser"
            [photoUrl]="viewingUser?.profile_photo"
          >
          </app-user-avatar>
          <h3>{{ viewingUser?.first_name }} {{ viewingUser?.last_name}} ({{ viewingUser?.username }})</h3>
        </div>
      </div>
      <!-- User stats -->
      <app-user-stats-view
        [userStats]="viewingUser?.user_stats"
      >
      </app-user-stats-view>
      <div fxLayout="column" class="padding-lr-16">
        <span>Sites</span>
        <mat-divider></mat-divider>
      </div>
      <app-site-grid
        [sitesPagingDelegate]="usersSitesDelegate"
      >
      </app-site-grid>
    </div>
  </ng-template>
</div>
<ng-template #isLoading>
  <div
    class="full-height loading"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <mat-spinner diameter="50"></mat-spinner>
    <h4>Just a moment...</h4>
  </div>
</ng-template>
