<form fxLayout="column" [formGroup]="dailyFeatureForm">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Daily feature title." />
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="button_text" placeholder="Button text." />
  </mat-form-field>
  <app-autocomplete
    placeholder="Site of the day..."
    [autocompleteDelegate]="sitesAutocompleteDelegate"
    [autocompleteControl]="siteControl"
  >
  </app-autocomplete>
</form>

