<form fxFlex fxLayout="column" [formGroup]="reportSiteForm">
  <mat-form-field fxFlex appearance="outline" class="form-field">
    <mat-label>Reason</mat-label>
    <input matInput formControlName="reason" />
  </mat-form-field>
</form>