<div class="full-dimensions" fxLayout="column" fxLayoutGap="16px">
  <div #dummyInitialComponent></div>
  <app-comment
    *ngFor="let comment of commentsPagingDelegate?.dataList"
    [user]="user"
    [comment]="comment"
    (removeComment)="removeComment($event)"
    (votedOnComment)="voteOnComment(comment, $event)"
  >
  </app-comment>
  <div fxFlex fxLayout="column" *ngIf="commentsPagingDelegate?.thereIsMoreDataToLoad()">
    <button fxFlex mat-button class="load-more" (click)="commentsPagingDelegate?.loadResults()">
      Load more...
    </button>
  </div>
  <app-comment-input
    [preventScrollOnInit]="true"
    (submitMessage)="addComment({ text: $event })"
  >
  </app-comment-input>
</div>
