<div 
  class="full-dimensions"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <div fxLayout="column">
    <h2>{{ data?.title || 'Are you sure?' }}</h2>
  </div>
  <div 
    id="actions" 
    fxLayout="row" 
    fxLayoutAlign="end center" 
    fxLayoutGap="16px"
  >
    <button mat-stroked-button (click)="closeDialog(false)">no</button>
    <button mat-button class="main-action-button" (click)="closeDialog(true)">yes</button>
  </div>
</div>