<div fxFlex fxLayout="row" fxLayoutAlign="start center">
  <div
    *ngFor="let item of breadcrumbChain; let i = index"
    (click)="breadcrumbClickHandler(item)"
    class="breadcrumb-item"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <h4>{{ displayBreadcrumb(item) }}</h4>
    <mat-icon *ngIf="(i !== (breadcrumbChain.length - 1))">keyboard_arrow_right</mat-icon>
  </div>
</div>
