<div
  class="stats-container"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayoutGap="16px"
>
  <h5>Sites: {{ userStats?.total_sites_created | displayNumber }}</h5>
  <h5>Commented: {{ userStats?.total_comments_made | displayNumber }}</h5>
  <h5>Sites upvotes: {{ userStats?.total_site_upvotes | displayNumber }}</h5>
  <h5>Sites downvotes: {{ userStats?.total_site_downvotes | displayNumber }}</h5>
  <h5>All votes: {{ (userStats?.total_site_upvotes - userStats?.total_site_downvotes) | displayNumber }}</h5>
  <h5>Subscribers: {{ userStats?.total_subscribers | displayNumber }}</h5>
  <h5>Subscribed to: {{ userStats?.total_subscribed_to | displayNumber }}</h5>
</div>
