<div fxLayout="column" fxLayoutAlign="center">
  <div id="form-dialog-header" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon id="form-icon" *ngIf="icon && icon.length">{{ icon }}</mat-icon>
    <h1 mat-dialog-title class="title">{{ title }}</h1>
  </div>
  <div mat-dialog-content id="form-content-container">
    <div #form>
    </div>
  </div>
  <div mat-dialog-actions fxFlex="100" fxLayout="row" fxLayoutAlign="flex-end center">
    <button
      id="close-text"
      mat-stroked-button
      class="form-button-close" (click)="onNoClick()">{{closeText}}</button>
    <button
      mat-button
      class="main-action-button form-button"
      (click)="onSubmit()"
      [disabled]="form?.invalid"
    >
    {{ submitText }}</button>
  </div>
</div>
