/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import './../../../variables.less';

.form-button {
  color: #fefefe;
  background-color: @primary;
  margin-left: 8px;
}

.form-button:hover {
  color: #fefefe;
  background-color: lighten(@primary, 10);
}

#form-dialog-header {
  margin-bottom: 20px;
}

#form-content-container {
  max-height: 60vh;
  overflow: hidden auto;
}

#form-icon {
  margin-right: 10px;
}

.title {
  margin: 0;
}
