<div fxLayout="column" fxLayoutGap="16px">
  <h1>Daily features</h1>
  <div fxLayout="row" fxLayoutAlign="start center">
    <button
      mat-button
      class="main-action-button"
      (click)="openNewFeatureForm()"
    >
      Create new
    </button>
  </div>
  <app-np-table
    [tableObject]="featuresTableObj"
  >
  </app-np-table>
</div>
