/**
* This source code is the confidential, proprietary information of
* The New Project Pty Ltd. here in, you may not disclose such Information,
* and may only use it in accordance with the terms of the license
* agreement you entered into with The New Project Pty Ltd.
*
* 2019: The New Project Pty Ltd.
* All Rights Reserved.
*/
@import './../../../variables.less';

/* Apply styles to host! */
:host {
  height: 100%;
}

#submit-button:disabled {
  background-color: @secondary-gray;
}

#login-page-container {
  justify-content: center;
  align-content: center;
  width: 100%;
}

.clear-icon:hover {
  cursor: pointer;
}

.auth-button {
  margin: 4px;
}

.auth-button:hover {
  background-color: lighten(@primary, 40);
}

#login-container {
  border-radius: 2%;
  width: 40%;
  padding: 2%;
}

#site-logo {
  height: 30px;
  width: 30px;;
}

#heading {
  margin-bottom: 4%;
}

.login-field {
  width: 100%;
  background-color: transparent;
}

mat-form-field {
  background-color: transparent;
}

#submit-form-button {
  float: right;
  color: white;
}

#dont-have-account {
  margin-top: 50px;
  float: right;
}

#blinking-cursor {
  font-weight: 100;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.no-decoration {
  text-decoration: none;
}

.username {
  margin-bottom: 12px;
}

#signup-page-container {
  justify-content: center;
  align-content: center;
  height: 100%;
}

#signup-container {
  border-radius: 2%;
  padding: 2%;
  width: 50%;
}

#tag-container {
  margin-bottom: 20px;
}

#site-logo {
  margin-top: 0;
  margin-left: 0;
  height: 30px;
  width: auto;
}

#tags-field {
  width: 100%;
}

.input-field {
  margin-left: 4px;
  margin-right: 4px;
}

.no-decoration {
  text-decoration: none;
}
