/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../../variables.less';

.drop-zone-container {
  margin: 8px;
}

.user-is-dragging {
  opacity: 0.3;
}

.image-container {
  position: relative;
  text-align: center;
}

.drop-hover-container {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-icon {
  font-size: 60px;
  margin-left: -50px;
}

.image-display {
  margin: 8px;
  background-color: lightgrey;
  object-fit: cover;
  width: 100%;
  backface-visibility: hidden;
}

.or-bold {
  font-weight: bold;
}

#image-input {
  display: none;
}

.picker-container {
  border: dashed 4px @secondary-gray;
  margin-bottom: 8px;
}
