<div class="picker-container" fxLayout="column" fxFlex="100" fxLayoutAlign="center">
  <div
    class="drop-zone-container"
    [ngClass]="{ 'user-is-dragging': dragging }"
    fxLayout="column"
    (drop)="onImageDrop($event)"
    (dragover)="onImageDragOver($event)"
    (dragleave)="dragging = false"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
  >
    <div
      class="image-container"
    >
      <div fxLayout="row" fxLayoutAlign="center center">
        <img
          *ngIf="imageSource"
          class="image-display"
          [src]="imageSource"
          [style.width]="imageDisplayDimensions.width"
          [style.height]="imageDisplayDimensions.height"
        />
      </div>
      <div fxLayout="column" fxLayoutAlign="center center" class="drop-hover-container" *ngIf="dragging">
        <h2>Drop Image</h2>
        <h2><mat-icon class="image-icon">wallpaper</mat-icon></h2>
      </div>
    </div>
    <div
      class="gray-text"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="16px"
    >
      <span>Drop an image</span>
      <span class="or-bold">OR</span>
      <button mat-button (click)="uploaderInput.click()">
        Select from machine
      </button>
    </div>
  </div>
  <input id="image-input" #uploaderInput type="file" (change)="onFileChanged($event.target.files[0])">
</div>
