/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../variables.less';

#header {
  padding-left: 10px;
}

.votes {
  margin-left: auto;
  text-align: right;
}

.make-comment {
  margin-top: 4%;
}

.simple-pading {
  padding: 2px;
}

.content-container {
  img {
    max-width: 100%;
  }
}

#actions {
  .button {
    font-size: 10px;
  }
}

.actions-toggle-group {
  height: 30px !important;
}

// Bello!
.mat-button-toggle-checked {
  background-color: white !important;
  color: @primary !important;
}

.mat-button-toggle-checked[disabled] {
  background-color: white !important;
  color: @primary !important;
}
