<div class="container main-site" fxFlex="100">
  <div id="todays_feature" class="siteheader body-spacing">
    <div fxLayout="row" fxLayoutAlign="left center">
      <app-user-avatar [photoUrl]="site?.user?.profile_photo"></app-user-avatar>
      <h4 id="header">{{ site?.title }}</h4>
    </div>
    <div fxLayout="row">
      <div class="list-group" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-between">
        <p>Created on the {{ transformToLocaleDate(site?.created_at) }} by <a routerLink="/accounts/{{ site?.user?.username }}"> {{ site?.user?.username }} </a></p>
        <mat-chip-list>
          <mat-chip class="main-colour" *ngFor="let tag of site.tags">{{ tag }}</mat-chip>
        </mat-chip-list>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-button-toggle-group
            class="actions-toggle-group"
            [multiple]="true"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <mat-button-toggle
              *ngIf="site?.user?.id === user?.id"
              (click)="toEdit()"
            >
              <mat-icon>vpn_key</mat-icon>&nbsp;Edit
            </mat-button-toggle>
            <mat-button-toggle
              [checked]="subscribed"
              (click)="onSubscribe(true)"
            >
              <mat-icon>done_all</mat-icon>&nbsp;Subscribe
            </mat-button-toggle>
            <mat-button-toggle
              [disabled]="siteReported"
              [checked]="siteReported"
              (click)="openReportDialog()"
            >
              <mat-icon>error_outline</mat-icon>&nbsp;Report
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div fxLayout="row" fxFlex fxLayoutAlign="flex-end center">
        <app-vote (voted)="onVote($event)" [(votes)]="site.vote_count"></app-vote>
      </div>
    </div>
  </div>
  <div class="site-banner">
    <img
      *ngIf="site.banner_photo"
      class="banner-image"
      [src]="site.banner_photo"
      onerror="site.banner_photo = null"
    />
  </div>
  <div class="body-spacing content-container">
    <hr/>
    <div [innerHTML]="site?.content"></div>
    <hr/>
    <app-ad></app-ad>
    <app-comments-view
      [commentsPagingDelegate]="commentsPagingDelegate"
    >
    </app-comments-view>
  </div>
</div>
