<div
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="16px"
  class="padding-top-10"
>
    <app-dailyfeature></app-dailyfeature>
    <div class="content" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <h5 *ngIf="checked" class="header">Trending &nbsp;✅</h5>
        <h5 *ngIf="!checked" class="header">Recommendations &nbsp;😯</h5>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <h5 *ngIf="!checked" class="header">Trending &nbsp;✅</h5>
        <h5 *ngIf="checked" class="header">Recommendations &nbsp;😯</h5>
        <mat-slide-toggle id="content-toggle" color="primary" (change)="toggleChecked()"></mat-slide-toggle>
      </div>
    </div>
    <div fxFlex>
      <app-site-grid [sitesPagingDelegate]="recommendedSitesDelegate" #recommend *ngIf="!checked; else trending"></app-site-grid>
      <ng-template #trending>
        <app-site-grid [sitesPagingDelegate]="trendingSitesDelegate"></app-site-grid>
      </ng-template>
    </div>
    <app-ad></app-ad>
</div>
