/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

/* We want to fill the height of the screen. */
:host {
  /* navbar height: 40px; */
  /* footer height: 22px */
  min-height: calc(100% - (40px + 22px));
}

.center {
  margin-left: 10px;
  margin-right: 10px;
}

#content-toggle {
  margin: 8px;
  margin-right: 20px;
}

.content {
  margin-left: 20px;
}
