/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'variables';
@import './styles/buttons';

html,
body,
app-root {
  height: 100%;
  margin: 0;
  background-color: @primary-white;
}

img {
  object-fit: cover;
}

.full-height {
  height: 100%;
}

.selectable {
  cursor: pointer;
}

.banner-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.load-more {
  color: @primary;
}

.app-h5 {
  font-weight: 400;
}

.padding-top-10 {
  padding-top: 10px
}

.padding-top-16 {
  padding-top: 16px
}

.padding-top-20 {
  padding-top: 20px
}

.padding-lr-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.text-centered {
  text-align: center;
}

.container {
  padding: 8px;
  height: 100%;
  width: 100%;
}

.full-dimensions {
  height: 100%;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: 'Open sans', sans-serif;
}

/* To avoid the blue outline for buttons problem */
button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

/**
 * Set so we have nice spacing across the whole app.
 */
mat-card {
  margin: 10px;
  color: #f0f0f0;
}

mat-grid-list {
  display: inline-block;
}

mat-grid-tile {
  text-align: left;
}

.site-image {
  height: 120px;
  margin: 0px;
}

/* Class used for recommendation and trending cards */
.display-card {
  height: 90%;
}

.main-site {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* So elements don't touch screen edge */
.body-spacing {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.auth-form-input {
  width: 300px;
}

.text-link {
  color: black;
}

/*
OPTS: 2E6BB7
*/
.main-component-margin {
  margin-top: 40px;
}

/* Primary colour for the site */
.colour-main {
  background-color: @primary;
  color: white;
}

.colour-white-transparent {
  background-color: transparent;
  color: white;
}

.colour-main-outline {
  color: @primary;
  border-color: @primary !important;
}

/* Secondary colour for the site */
.colour-secondary {
  background-color: #d9d9d9;
}

/* Tertiary colour for the site */
.colour-tertiary {
  background-color: #f9cf00;
}

/* Quaternary colour for the site */
.colour-quaternary {
  background-color: #f19f4d;
  color: white;
}

.site-display-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* Configures the colour of the mat snack bar button. */
.mat-simple-snackbar-action {
  color: white;
}

/* General purpose class to make headers consistent. */
.header {
  font-weight: 400;
}

// Common icon spacing needed.
.icon-spacing {
  margin-right: 8px;;
}

/* Class or comments and replies within the app. */
.comment {
  margin: 4px;
  padding: 8px;
  border-radius: 2px;
  background-color: #F0F0F0;
  border-radius: 4px;
}

.gray-text {
  color: @secondary-gray;
}

.comment-actions {
  font-size: 14px;
  padding: 0px 8px;
  margin-bottom: 8px;
}

// For gray less important icons.
.icon-gray {
  color: #6b6b6b
}

// Common submit button implementation.
.submit-button {
  background-color: @primary;
  color: @primary-white;
}

.submit-button:hover {
  background-color: lighten(@primary, 10);
  color: @primary;
}

.icon-button:hover {
  color: lighten(@primary, 10);
}

.icon-button-danger:hover {
  color: lighten(@error, 10);
}

// We want spinners containers to take up all space possible.
.loading {
  height: 100%;
  width: 100%;
}

// Defines how we want to space content within the site.
.ctn {
  margin: 8px;
  padding: 8px;
}
