// App wide config vars.
@primary: #266DD3;

@action: @primary;

@primary-white: white;

@primary-black: black;

@error: #FF2000;

@success: #05B552;

@warning: #ffa010;

@secondary-dark-gray: #424242;

@secondary-gray: #777777;

@secondary-light-gray: #EEE;