/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2020: The New Project Pty Ltd.
 * All Rights Reserved.
 */

@import '../../../variables.less';

.list-item {
  width: 100%;
  padding: 16px 0px;
  border-bottom: 2px solid @secondary-light-gray;
}

.timestamp {
  font-weight: bold;
}