<div fxFlex class="container" fxLayout="column" fxLayoutGap="16px">
  <div>
    <h1>Notifications</h1>
  </div>
  <div fxFlex>
    <div
      class="list-item"
      *ngFor="let notification of notificationsPagedDataStore.datatableObj.dataSource.data"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
    <img *ngIf="notification?.icon" [src]="notification?.icon"/>
    <div [innerHtml]="notification?.title | toMarkup">
    </div>
    <div>
      <span class="timestamp">{{ notification?.created_at }}</span>
    </div>
    </div>
  </div>
  <div fxFlex fxLayout="column" *ngIf="notificationsPagedDataStore.thereIsMoreDataToLoad()">
    <button class="load-more" fxFlex mat-button (click)="notificationsPagedDataStore.loadResults()">
      Load more...
    </button>
  </div>
</div>