<div id="filterResultsContainer" class="container main-site" fxFlex="100">
  <div *ngIf="filteredSitesDelegate.dataList.length; else noResults">
    <div id="seach-header">
      <h5>Search Results: {{appliedSearchKey}}</h5>
    </div>
    <app-site-grid [sitesPagingDelegate]="filteredSitesDelegate"></app-site-grid>
  </div>
  <ng-template #noResults>
    <div class="nothing-found" fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>😔</h1>
        <p>Nothing found from search <span class="bold">{{ searchKey }}</span></p>
        <button mat-stroked-button (click)="navigateHome()">Home</button>
      </div>
    </div>
  </ng-template>
</div>
