/**
 * This source code is the confidential, proprietary information of
 * The New Project Pty Ltd. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project Pty Ltd.
 *
 * 2019: The New Project Pty Ltd.
 * All Rights Reserved.
 */

#filterResultsContainer {
  /* 88.5vh to account for included footer and navbar. */
  height: 87.2vh;
}

.bold {
  font-weight: bold;
}

.nothing-found {
  height: 70vh;
}
