/**
 * This source code is the confidential, proprietary information of
 * The New Project. here in, you may not disclose such Information,
 * and may only use it in accordance with the terms of the license
 * agreement you entered into with The New Project.
 *
 * 2020: The New Project.
 * All Rights Reserved.
 */

@import './../../../../variables.less';

.loading-spinner {
  padding: 12px;
}

.mat-table {
  transition: none !important;
  box-shadow: none !important;
}

.clickable {
  cursor: pointer !important;
}

.clickable:hover {
  cursor: pointer;
  background-color: @secondary-light-gray !important;
}