<div *ngIf="!tableObject?.loading; else isLoading">
  <div
    *ngIf="tableObject?.getDataSource()?.data?.length; else noData"
    fxLayout="column"
    fxLayoutGap="8px"
  >
    <table fxFlex mat-table [dataSource]="tableObject.getDataSource()" class="mat-elevation-z8">
      <ng-container *ngFor="let column of tableObject.getColumns()" [matColumnDef]="column.property">
        <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ getValue(row, column.property) }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tableObject.getDisplayProps()"></mat-header-row>
      <mat-row 
        *matRowDef="let row; columns: tableObject.getDisplayProps();"
        class="clickable"
        (click)="tableObject.rowClickHandler(row)"
      ></mat-row>
    </table>
    <mat-paginator
      [length]="tableObject?.count"
      [pageSize]="tableObject?.pageSize"
      (page)="setPage($event)" 
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <ng-template #noData>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h3>{{ noDataMessage }}</h3>
    </div>
  </ng-template>
</div>
<ng-template #isLoading>
  <div fxLayout="row" fxLayoutAlign="center center">
    <h3>Loading...</h3>
  </div>
</ng-template>

